<h2>Latest posts:</h2>
<br />
<% @results.each do |post| %>
    <p>
        <%= post['name'] %> typed:
        <br />
        <%= post['content'] %> 
        <br />
        <br />
        Added at <%= post['created_Date'] %>
        <br />
        <br />
        <a href="/details/<%= post['id'] %>">Comments</a>
    </p>
    <hr />
<% end %>