<h2>Add New Posts</h2>
<p>
<form action="/new" method="POST">
    <textarea class="form-control" rows="6" placeholder="Type post text here" style="width: 600px"></textarea>
    <br />
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
</p>